---
---

// Colour palette
$lightest:  #ffffff;
$lighter:   #eeeeef;
$light:     #ddddde;   

$darkest:   #455A64;
$darker:    #607D8B;
$dark:      #CFD8DC;

$bg: $lighter;
$fg: #444444;
$link: $darker;

@media screen and (max-width: 480px) {
    body {
        max-width:95%;
        font-size:80%;
    }
}

@media screen and (min-width: 480px) {
    body {
        max-width:80%;
    }
}

body {
  font-family: 'Lato', Helvetica, Arial, Sans-Serif;
  background: $bg;
  color: $fg;
  margin-left:auto;
  margin-right:auto;
  ::selection {
    background: $dark;
    color: $lighter;
  }
}

* a {
    color: $link;
    text-decoration: underline;
    &:hover, &:active {
	color: $darkest;
    }
    &:focus {
        outline: none;
    }
}

code {
    font-size: 110%;
}

h1 {
  color: $lightest;
  background: $darkest;
  margin: 0;
  font-size: 135%;
  font-weight: normal;
  padding: 3%;
  padding-left: 1.5%;
}


h2 {
  font-size: 120%;
  color: $darkest;
}
  
h3, h4 {
  font-size: 100%;
  color: $darker;
}

ul {
  padding-left: 1em;
  li {
    margin: 0.5em;
    }
}

ol {
    padding-left: 1em;
    li {
        padding-left: 0.5em;
        ol li {
            list-style-type: lower-alpha;
        }
    }
}

.summary{
  display: none;
  margin: 2% 2%;
}


.footer {
  color: $dark;
  margin-top: 10%;
  border-top: $darker 1px dotted;
  font-size: small;
  text-align: right;
}

#photo {
  float:right;
  clear:both;
  width: 25%;
  @media screen and (max-width: 480px) {
    float: none;
    clear: none;
    margin: 0;
    width: 120px;
    }
}

nav{
  background: $darker;
  margin-top: 0%;
  
  ul {
    margin: 0;
    list-style-type: none;
    padding: 1%;
    padding-left: 0;
  }

  li {
    display: inline;
    margin: 0%;
    }

  a {
    color: $lighter;
    text-decoration: none;
    padding: 1.1%;
    &:hover {
      color: $lightest;
      text-decoration: underline;
    }   
  }
}

.current{ 
    text-decoration: underline;
    text-decoration-color: $light;
}

/* By default tables alternate row colors */
table tr:nth-child(odd){
    background-color: $light;
} 
  
/* Stabilization as width -> Infinity */

@media screen and (min-width: 800px) {
    body {
        max-width:70%;
    }

    #photo {
	width: 240px;
    }

    .summary {
	margin: 8px 8px;
    }

    .footer {
	margin-top: 6px;
    }

    h1 {
	padding: 24px;
	padding-left: 12px;
    }

    nav{
	ul {
	    padding: 8px;
	    margin-left: -8px;
	}

	li {
	    padding: 8px;
	}
    }
}

