---
---

// Colour palette

// Two colours

$text: DarkSlateGray;

$dark: #49274a;
$light: #f8eee7;

body {
    margin: 2em;
    max-width:80%;
    margin:auto;
    line-height: 130%;
    background: $light;
    font-family: Sans;
    color: $text;
}

a {
    text-decoration: dotted underline;
    color: $dark;
    &:hover, &:active {
                 color: $text;
             }
    &:focus {
        outline: none;
    }
}

code {
    font-size: 110%;
}

h1 {
    margin: 0em;
    font-size: 110%;
    padding: 1em 0em;
}

h2 {
    font-size: 110%;
}

h3, h4 {
    font-size: 100%;
}

ul, ol {
    padding-left: 1em;
    li {
        margin-bottom: 1em;
        list-style-type: circle;
        ol li {
            list-style-type: lower-alpha;
        }
    }
}

.summary{
    display: none;
    background: $light;
    border-radius: 10px;
    margin: 2% 2%;
    padding: 2% 2%;
}


.intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.bar{
    position: fixed;
    width: 100vw;
    left:50%;
    right:50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 0.5em 0;
    background: $light;
    color: $dark;
    align-items: center;

}	

.bar-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 80%;
    h1{
	padding: 0em;
    }
}

footer {
    margin: auto;
    margin-top: 10%;
    margin-bottom:2em;
    border-top: $dark 1px dotted;
    font-size: 90%;
    text-align: right;
    max-width: 100%;
    ul {
        margin: 0;
        list-style-type: none;
        padding: 0em;
        padding-top: 0.5em;
        padding-bottom: 0em;
        padding-left: 0em;
    }
    li {
        display: inline;
        margin: 0%;
	padding-left:1em;
    }
}

main{
    padding-top: 4em;
}

#photo {
    width: 8em;
    border-radius:5px;
}

.calendar {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.calendar iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

nav{
    margin-top: -0.5em;

    ul {
        margin: 0;
        list-style-type: none;
        padding: 0em;
        padding-top: 0.5em;
        padding-bottom: 0em;
        padding-left: 0em;
    }

    li {
        display: inline;
        margin: 0%;
	padding-left:1em;
    }
}


/* Centering images */
img[src$="centerme"]{
    display:block;
    margin: 0 auto;
}

/* By default tables alternate row colors */
table tr:nth-child(odd){
    background-color: $light;
} 

/* Stabilization as width -> 0 */
@media screen and (max-width: 32em) {
    body {
        font-size:80%;
    }

    body, .bar-content {
	max-width:95%;
    }

    .bar {
	position: relative;
    }

    main{
	padding-top: 1em;
    }

    .intro, .bar-content{
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
    }

    #photo {
        margin: 0;
        width: 120px;
    }
}

/* Stabilization as width -> Infinity */

@media screen and (min-width: 800px) {
    body, .bar-content {
        max-width:800px;
    }

    #photo {
        width: 12em;
    }

    .summary {
        margin: 8px 8px;
    }

}

