---
---

// Colour palette
$lightest:  #ffffff;
$lighter:   #f6f6f6;
$light:     #e2e4e6;   

$darkest:   #3d3d3d;
$darker:    #0067a3;
$dark:      #0079bf;

$bg: $lightest;
$fg: $darkest;
$link: $dark;

@media screen and (min-width: 480px) {
    body {
        max-width:80%;
    }
}

body {
    font-family: 'PT Sans', Sans;
    line-height: 130%;
    background: $bg;
    color: $fg;
    margin-left:auto;
    margin-right:auto;
    ::selection {
	background: $dark;
	color: $lighter;
  }
}

* a {
    color: $link;
    text-decoration: underline;
    &:hover, &:active {
	color: $darkest;
    }
    &:focus {
        outline: none;
    }
}

code {
    font-size: 110%;
}

h1 {
  color: $darker;
  margin: 0;
  font-size: 150%;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 3%;
  padding-left: 0%;
  border-bottom: $darker 2px solid;
}


h2 {
    font-size: 110%;
    font-family: 'Open Sans';
    color: $darker;
}
  
h3, h4 {
  font-size: 100%;
  color: $darker;
}

ul {
  padding-left: 1em;
  li {
    margin: 0.5em;
    }
}

ol {
    padding-left: 1em;
    li {
        padding-left: 0.5em;
	margin: .5em;
        ol li {
            list-style-type: lower-alpha;
        }
    }
}

.summary{
  display: none;
  background: $lighter;
  border-radius: 10px;
  margin: 2% 2%;
  padding: 2% 2%;
}


.footer {
  color: $dark;
  margin-top: 10%;
  border-top: $darker 1px dotted;
  font-size: small;
  text-align: right;
}

#photo {
  float:right;
  clear:both;
  width: 20%;
  border-radius:5px;
}

.calendar {
    position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}

.calendar iframe {
    position: absolute; top:0; left: 0; width: 100%; height: 100%;
}

nav{
  margin-top: 0%;
  
  ul {
    margin: 0;
    list-style-type: none;
    padding: 2%;
    padding-left: 0%;
  }

  li {
    display: inline;
    margin: 0%;
    }

  a {
    color: $darker;
    text-decoration: none;
    padding: 0.5em;
    padding-left: 0%;
    &:hover {
      color: $darkest;
      text-decoration: underline;
    }   
  }
}

.current{ 
    text-decoration: underline;
    text-decoration-color: $light;
}

/* Centering images */
img[src$="centerme"]{
    display:block;
    margin: 0 auto;
}

/* By default tables alternate row colors */
table tr:nth-child(odd){
    background-color: $light;
} 

/* Stabilization as width -> 0 */
@media screen and (max-width: 480px) {
    body {
	max-width:95%;
        font-size:80%;
    }

    photo {
	float: none;
	clear: none;
	margin: 0;
	width: 96px;
    }
}

/* Stabilization as width -> Infinity */

@media screen and (min-width: 800px) {
    body {
        max-width:70%;
    }

    #photo {
	width: 160px;
    }

    .summary {
	margin: 8px 8px;
    }

    .footer {
	margin-top: 6px;
    }

    h1 {
	padding: 24px;
	padding-left: 0px;
    }

    nav{
	ul {
	    padding: 8px;
	    margin-left: -16px;
	}

	li {
	    padding: 8px;
	}
    }
}

