body
{
}

.info:before {
    content: "Infomation. ";
    font-weight: bold;
    font-style: normal;
}

.example:before {
    content: "Example. ";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.proposition:before {
    content: "Proposition " attr(btit) ". ";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.remark:before {
    content: "Remark.";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.theorem:before {
    content: "Theorem "  attr(btit) ". ";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.lemma:before {
    content: "Lemma " attr(btit) ". ";
    font-weight: bold;
    font-style: normal;
}

.proof:before {
    content: "Proof.";
    font-style: italic;
}

.proof:after {
    content: "\25FC";
    float:right;
}

.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
}

