---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Anand Deopurkar</title>
    <?php include("headers.html"); ?>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <style type="text/css">
      <!--
	  .picture{
	  float: right;
	  padding: 10px;
	  }

	  .picture.left{
	  float:left;
	  padding: 10px;
	  }
	-->
    </style>
     {% include head.html %}
  </head>

  <body>
    <h1> Anand Deopurkar</h1>

    {% include navigation.html %}
    
    <h2>A rough non-technical description of my interests</h2>
    
    <p>
      <img class="picture" src="/ellipse.png" alt="Ellipse"></img>
      I am interested in the geometry of curves defined by polynomial equations. The circle <code>(x<sup>2</sup> + y<sup>2</sup> = 1)</code> or the ellipse <code>(x<sup>2</sup> + 3y<sup>2</sup> = 1)</code> are some simple examples of such geometric curves.
      Rather than studying these objects individually, I study the collection of all of them through their "moduli space." The moduli space can be thought of as a topographical model of the landscape of all such objects. It tells whether two curves are close together or far apart. Stretching a circle into an ellipse represents a path on the moduli space that takes us from the point that represents the circle to the point that represents the ellipse.
    </p>


    <p>
      <img class="picture left" src="/topo.png" alt="Topographical map"></img>

      The topography of the moduli space is very hard to see all at once. Just as we can study a three dimensional model by rendering it on a two dimensional map using level sets, we can study the moduli space by dividing it into certain level sets called Hurwitz spaces. My research aims to illuminate features of the Hurwitz spaces relevant to a major ongoing program to understand the moduli space.
    </p>


        {% include footer.html %}

    <?php include("footer.html"); ?>

</body>
</html>
