@media screen and (max-width: 480px) {
  body {
    max-width: 95%;
    font-size: 80%; } 
}
@media screen and (min-width: 480px) {
  body {
      max-width: 80%;
      font-size: 90%;
  } 
}
@media screen and (min-width: 960px) {
  body {
      max-width: 70%;
      font-size: 100%;
  } 
}

body {
  color: #222222;
  background: #ffffff;
  font-family: sans;
  margin-left: auto;
  margin-right: auto; }

/* Links */
a {
  color: #493e4f;
  text-decoration: underline;
  text-decoration-style: dotted; }
  a:hover, a:active {
    color: #9E90A7; }

/* Headers */
h1 {
  padding: 3%;
  margin: 0;
  margin-bottom: 3%;
  background: #493e4f;
  color: #ffffff;
  font-size: 135%;
  font-weight: normal; }

h2 {
    font-size: 120%;
    color: #493e4f;
}

h3, h4, h5 {
    font-size: 100%;
    color: #493e4f;
}

li {
  margin-bottom: 2%; }

/* Navigation bar */
.navbar ul {
  margin: 0;
  margin-top: -3%;
  padding: .5% 0 5% 0;
  list-style-type: none; }
.navbar li {
  display: inline; }
.navbar a {
  float: left;
  width: 32.833333333%;
  margin-left: .25%;
  margin-right: .25%;
  padding: .75% 0;
  text-decoration: none;
  color: #ffffff;
  background: #6F6375;
  text-align: center; }
  .navbar a:hover, .navbar a active {
    background: #8A858D; }
.navbar .current a {
  background: #8A858D; }

/* Summary */
.summary{
   display: none;
   margin: 2% 2%;
}


/* Footer */
#footer {
  color: #9E90A7;
  text-align: right;
  border-top: #493e4f 1px dotted;
  font-size: small; }
