//autumn 
$canvas: #fcfaf5;
$canvas-pop: #b5736b;
$writing: #303821;
$writing-pop: #b5736b;

* { color: $writing; }

html {
    scroll-behavior: smooth;
}
body {
    column-rule: 1px solid $canvas-pop;
    background-color: $canvas;
    ::-moz-selection {
        background-color: $canvas-pop;
    }
    ::-selection {
        background-color: $canvas-pop;
    }
    a:hover {
	color: $writing-pop;
    }
    font-family: sans-serif;
    margin-top: 0em;
    line-height: 1.5em;
    width: 90%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

* a {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-weight: normal;
    display: inline-block;
    line-height: 1.5em;
}
h1, h2{
    border-bottom: 0.15em solid $writing-pop;
}
h3, h4{
    margin-bottom: 0em;
}

.collapsible{
    cursor: pointer;
}
.collapsed{
    cursor: pointer;
    &:after {
	content: '...';
    }
}

ul, ol{
      padding-left: 1em;
      margin-top: 0em;
      margin-bottom: 0em;
  }
  li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
  }

dd {
    p {
	margin-top: 0em;
    }
}

table, tr, th, td, colgroup, tbody {
    border: none;
    border-collapse: collapse;
}
td {
    padding: 0.0em 0.5em;
}

figure {
    padding: 0em;
    margin: 0em;
}
#mypicture {
    border-color: $canvas-pop;
    width: 18em;
    margin-left: auto;
    margin-right: auto;
}

.title {
    line-height: 1.5em;
}
.intro {
    column-width: 18em;
    column-gap: 1em;
    margin-left: auto;
    margin-right: auto;
}

.abstract {
    border-left: 0.5em solid $canvas-pop;;
    padding-left:0.5em;
    p::before{
	content: "Abstract.";
	font-weight: bold;
    }
}

#table-of-contents {
    padding-right: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-block;
    h2 {
        display: none;
    }
    ul {
        list-style-type: none;
        padding: 0em;
        margin: 0em;
    }
    li {
        margin-top: 0em;
        margin-bottom: 0.5em;
    }
    a {
	border-bottom: 0.15em solid $writing-pop;
	text-decoration: none;
    }
}

footer {
    color: $canvas-pop;
    border-top: 1px solid $canvas-pop;
    font-size: 80%;
    margin-top:2em;
    padding-top:0.3em;
}

#preamble {
    margin-top: 1em;
    a {
	border-bottom: 0.15em solid $writing-pop;
	text-decoration: none;
    }
}

#postamble {
    border-top: 1px solid $canvas-pop;
    font-size: 80%;
    margin-top: 1em;
    text-align: right;
    column-span: all;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

@mixin alternate-rows($color) {
    table {
        tbody > tr:nth-child(odd){
            background: $color;
        }
    }
}

@media (max-width: 720px){
    body {
	font-size: 90%;
	width: 95%;
    }
}

// Print stylesheet
@media print {
    footer, nav {display:none;}
    width: 100%;
    margin: 0px;
    padding: 0px;
    a:after {
        content: " '(' attr(href) ') '";
    }
}
