@media screen and (max-width: 480px) {
  body {
    font-size: 90%;
    line-height: 1em;
    max-width: 95%; } }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  margin-top: 0em;
  line-height: 1.5em;
  column-width: 30em;
  column-gap: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

* a {
  text-decoration: underline; }

h1, h2, h3, h4 {
  font-family: "B612", monospace;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block; }

h1, h2 {
  column-span: all; }

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px 0px; }

dt {
  grid-column-start: 1; }

dd {
  grid-column-start: 2; }

figure {
  padding: 0em;
  margin: 0em; }

#postamble, footer {
  font-size: 80%; }

.title {
  font-family: "Atkinson Hyperlegible";
  line-height: 1.5em; }

.intro {
  column-span: all;
  column-width: 18em;
  column-gap: 20px;
  margin-left: auto;
  margin-right: auto; }

footer {
  margin-top: 2em;
  padding-top: 0.3em; }

#mypicture {
  width: 18em;
  margin-left: auto;
  margin-right: auto; }

#table-of-contents {
  padding-right: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  display: inline-block; }
  #table-of-contents h2 {
    display: none; }
  #table-of-contents ul {
    list-style-type: none;
    padding: 0em;
    margin: 0em; }
  #table-of-contents li {
    margin-top: 0em;
    margin-bottom: 0.5em; }
  #table-of-contents a {
    text-decoration: none; }

#postamble {
  margin-top: 1em;
  text-align: right;
  column-span: all; }

.container::after {
  content: "";
  clear: both;
  display: table; }

* {
  color: #303821; }

body {
  column-rule: 1px solid #758aa5;
  background-color: #fcfaf5; }
  body ::-moz-selection {
    background-color: #758aa5; }
  body ::-selection {
    background-color: #758aa5; }
  body a:hover {
    color: #266888; }

#table-of-contents a {
  border-bottom: 0.15em solid #266888; }

h1, h2, h3, h4, h5, h6 {
  border-top-color: #758aa5;
  text-decoration: underline 0.15em #266888; }

h2 {
  padding-top: 20px;
  border-top: 1px solid #758aa5; }

footer {
  color: #758aa5;
  border-top: 1px solid #758aa5; }

#mypicture {
  border-color: #758aa5; }

#postamble {
  border-top: 1px solid #758aa5; }

@media print {
  footer, nav {
    display: none; }
  width: 100%;
  margin: 0px;
  padding: 0px;
  a:after {
    content: " '(' attr(href) ') '"; } }

.collapsible {
  cursor: pointer; }
  .collapsible:before {
    content: '- '; }

.collapsed {
  cursor: pointer; }
  .collapsed:before {
    content: '+ '; }
  .collapsed:after {
    content: '...'; }
