@mixin alternate-rows($color) {
    table {
        tbody > tr:nth-child(odd){
            background: $color;
        }
    }
}

@mixin theme($bg, $bg-faded, $fg, $fg-faded, $link, $link-faded, $titles, $code, $bg-select: $titles, $fg-select: $bg-faded) {
    * { color: $fg; }
    body {
        background-color: $bg;
        ::-moz-selection {
            background-color: $bg-select;
            color: $fg-select;
        }
        ::-selection {
            background-color: $bg-select;
            color: $fg-select;
        }
    }
    a, a:active, a:visited { color: $link;}
    a:hover { color: $link-faded; }
    code { color: $code; }
    h1, h2, h3, h4, h5, h6 {
        border-bottom: 0.15em solid $titles;
        display: inline-block;
        padding-top: 0.5em;
        margin: 0em;
        padding-bottom: 0.25em;
        a, a:active, a:visited {
            color: $titles;
        }
        a:hover {
            background-color: $bg-faded;
            text-decoration: none; 
        }
    }
    header {
        a, a:active, a:visited {
            color: $fg;
        }
        a.active {
            color: $titles;
        }
        a:hover {
            color: $titles;
            background-color: $bg;
            text-decoration: none;
        }
    }
    footer {
        color: $fg-faded;
        border-color: $fg-faded;
        a, a:active, a:visited { color: $link-faded; }
    }

    #mypicture {
        border-color: $fg-faded;
    }

    #postamble {
        border-top: 0.15em solid $titles;
    }
}

// Palette based on Solarized theme (just as an example)
// $base03:    #002b36;
// $base02:    #073642;
// $base01:    #586e75;
// $base00:    #657b83;
// $base0:     #839496;
// $base1:     #93a1a1;
// $base2:     #eee8d5;
// $base3:     #fdf6e3;
// $yellow:    #b58900;
// $orange:    #cb4b16;
// $red:       #dc322f;
// $magenta:   #d33682;
// $violet:    #6c71c4;
// $blue:      #268bd2;
// $cyan:      #2aa198;
// $green:     #859900;

@mixin solarized-light {
    @include theme(#fdf6e3, #eee8d5, #657b83, #93a1a1, #268bd2, #2aa198, #cb4b16, #d33682);
}

@mixin alifbepe {
    @include theme(#fffdfc, #c7bba8, #000, #000, #000, #d05a5b, #d05a5b, #000);
}

@mixin solarized-dark {
    @include theme(#002b36, #073642, #839496, #586e75, #268bd2, #2aa198, #cb4b16, #859900);
}

@mixin zenburn {
    @include theme(#3F3F3F, #4F4F4F, #DCDCCC, #656555, #8CD0D3, #7CB8BB, #CC9393, #7F9F7F);
}

@mixin flatui {
    @include theme(#ecf0f1, #dfe4ea, #34495e, #7f8c8d, #2492db, #9b59b6, #0a74b9, #8e44ad);
}

@mixin bespoke-light {
    @include theme(#fffef9, #eceff1, #282b35, #727d97, #303db4, #30608c, #940b96, #00796b);
}

@mixin print {
    @include theme(#fff, #fff, #000, #000, #000, #000, #000, #000);
}

// Fonts
$title-font: 'Lora';
$body-font: 'Lora';

@media screen and (max-width: 480px) {
    body {
        max-width:95%;
        font-size:100%;
        line-height: 1em;
    }
}
@media screen and (min-width: 480px) {
    body {
        max-width:80%;
        line-height: 1.2em;
    }
}
@media screen and (min-width: 550px) {
    body {
        .intro {
            flex-direction: row-reverse;
        }
        line-height: 1.2em;
    }
}
@media screen and (min-width: 1000px) {
    body {
        max-width:1000px;
        line-height: 1.5em;
        header {
            flex-direction: row;
        }
    }
}
body {
    font-family: $body-font, serif;
    margin-top: 0em;
    margin-left:auto;
    margin-right:auto;
    line-height:1.5em;
}

* a {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    font-family: $title-font, serif;
    font-weight:lighter;
    margin-bottom: 0em;
}
li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
dl {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 10px 0px;
}
dt {
    grid-column-start: 1;
}
dd {
    grid-column-start: 2;
}

figure {
    padding: 0em;
    margin: 0em;
}

%small {
    font-size: 80%;
}

.title {
    font-family: $title-font;
    line-height: 1.5em;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer {
    @extend %small;
    border-top: 0.1em dotted;
    margin-top:2em;
    padding-top:0.3em;
}
#mypicture {
    width:15em;
    @media screen and (min-width: 960px) {
        width: 20em;
    }
    @media screen and (max-width: 480px) {
        margin-left: 0;
    }
}
#table-of-contents {
    float: left;
    padding-right: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    h2 {
        display: none;
    }
    ul {
        list-style-type: none;
        padding: 0em;
        margin: 0em;
    }
    li {
        margin-top: 0em;
        margin-bottom: 1em;
    }
}

#postamble {
    @extend %small;
    margin-top: 1em;
    text-align: right;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

@include alifbepe;

// Print stylesheet
@media print {
    footer, nav {display:none;}
    width: 100%;
    margin: 0px;
    padding: 0px;
    a:after {
        content: " '(' attr(href) ') '";
    }
    @include print;
}

.collapsible{
    cursor: pointer;
    border-bottom-width: 0.15em;
    &:before {
        content: '- ';
    }
}
.collapsed{
    cursor: pointer;
    border-bottom-width: 0em;
    &:before {
        content: '+ ';
    }
}
