@media screen and (max-width: 480px) { body { max-width: 95%; font-size: 80%; } }
@media screen and (min-width: 480px) { body { max-width: 80%; } }
@media screen and (min-width: 960px) { body { max-width: 70%; } }
body { font-family: 'Lato', Helvetica, Arial, Sans-Serif; background: #eeeeee; color: #493e4f; margin-left: auto; margin-right: auto; }
body ::-moz-selection { background: #8A858D; color: #eeeeee; }
body ::selection { background: #8A858D; color: #eeeeee; }

* a { color: #6F6375; text-decoration: underline; }
* a:hover, * a:active { color: #8A858D; }
* a:focus { outline: none; }

code { font-size: 110%; }

h1 { color: #eeeeee; background: #493e4f; margin: 0; font-size: 135%; font-weight: normal; padding: 4%; padding-left: 3%; }

h2 { font-size: 120%; color: #493e4f; }

h3, h4 { font-size: 100%; color: #6F6375; }

ul { padding-left: 1em; }
ul li { margin: 0.5em; }

ol { padding-left: 1em; }
ol li { padding-left: 0.5em; }
ol li ol li { list-style-type: lower-alpha; }

.summary { display: none; margin: 2% 2%; }

.footer { color: #8A858D; margin-top: 10%; border-top: #6F6375 1px dotted; font-size: small; text-align: right; }

#photo { float: right; clear: both; width: 35%; }
@media screen and (min-width: 960px) { #photo { width: 40%; } }
@media screen and (max-width: 480px) { #photo { float: none; clear: none; margin-left: 0; } }

nav { background: #6F6375; margin-top: 0%; }
nav ul { margin: 0; list-style-type: none; padding: 2%; padding-left: 0; }
nav li { display: inline; padding: 2%; margin: 0; }
nav a { color: #eeeeee; text-decoration: none; }
nav a:hover { color: #ffffff; }

.current { background: #8A858D; }
