---
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<HEAD>
  
  <TITLE>Moduli of Curves (Fall 2014) </TITLE>
  <LINK REL=STYLESHEET type="text/css" HREF="/css/main.css">
   {% include navigation.html %}
</HEAD>

<BODY >
<H1>Moduli of Curves (Fall 2014)</H1>

{% include navigation.html %}

<ul>
  <li> <a href="curvescourse.pdf">Course outline</a>
  <li> Week 1: Functors, representability, and the Grassmannian (<a href="Functors.pdf">Notes and exercises</a>)
  <li> Week 2: Flatness, Hilbert scheme (<a href="Exercises2.pdf">Exercises</a>).
  <li> Week 3: Infinitesimal lifting, smoothness, deformations, obstructions. (Notes: <a href="ModuliSept16.pdf">Sept 16</a>, <a href="ModuliSept18.pdf">Sept 18</a>.)
  <li> Week 4: Spaces of morphisms, outline of the construction of Hilb (Notes: <a href="ModuliSept23.pdf">Sept 23</a>, <a href="ModuliSept25.pdf">Sept 25</a>, <a href="ModuliWeek4Exercises.pdf">Exercises</a>)
  <li> Week 5: Uniform <em>m</em> lemma, flattening stratifications (<a href="ModuliSept30-Oct2.pdf">Sept 30&ndash;Oct 2</a>)
  <li> Week 6: Moduli of curves, fine/coarse moduli spaces (<a href="ModuliOct7-9.pdf">Oct 7&ndash;9</a>)
  <li> Week 7: Irreducibility of <em>M<sub>g</sub></em>, Picard&ndash;Lefschetz (Notes: <a href="ModuliOct14.pdf">Oct 14</a>, <a href="ModuliOct16.pdf">Oct 16</a>)
  <li> Week 8: Stacks (Notes: <a href="ModuliOct21.pdf">Oct 21</a>, <a href="ModuliOct23.pdf">Oct 23</a>)
  <li> Week 9: Algebraic stacks, <em>M<sub>g</sub></em> (Notes: <a href="ModuliOct28.pdf"> Oct 28</a>, <a href="ModuliOct30.pdf">Oct 30</a>)
  <li> Week 10: Sheaves on algebraic stacks, Picard group of <em>M<sub>1,1</sub></em> (Notes: <a href="ModuliNov6.pdf">Nov 6</a>)
  <li> Week 11: Separated/proper morphisms, coarse spaces, Deligne&ndash;Mumford compactification of <em>M<sub>g</sub></em>, stable reduction (Notes: <a href="ModuliNov11.pdf">Nov 11</a>, <a href="ModuliNov13.pdf">Nov 13</a>, <a href="Exercises3.pdf">Exercises on stable reduction</a>)
  <li> Week 12: Local structure of <em style="text-decoration: overline">M<sub>g</sub></em>, deformation theory (Notes: <a href="ModuliNov18.pdf">Nov 18</a>, <a href="ModuliNov20.pdf">Nov 20</a>)
  <li> Week 13: Line bundles and divisor classes on <em style="text-decoration: overline">M<sub>g</sub></em> (Notes: <a href="ModuliNov25.pdf">Nov 25</a>)
  <li> Week 14: Mumford's relation, canonical class, ample/effective divisors (Notes: <a href="ModuliDec2.pdf">Dec 2</a>)
</ul>

    {% include footer.html %}

</body>

</html>
