.skipped {
    padding: 5px;
    background-color:  #eeeceb;
    border: 1px solid;
    border-color: #d05a5f;
}

.student {
    padding: 5px;
    background-color:  #eeffee;
    border: 1px solid;
    border-color: #5fd05a;
}


.example:before {
    content: "Example\2014" + attr(id) ". ";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}


.proposition:before {
    content: "Proposition\2014" attr(id) ". ";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.remark:before {
    content: "Remark.";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.theorem:before {
    content: "Theorem\2014"  attr(id) ". ";
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}

.lemma:before {
    content: "Lemma \2014" attr(id) ". ";
    font-weight: bold;
    font-style: normal;
}

.proof:before {
    content: "Proof.";
    font-style: italic;
}

.proof:after {
    content: "\25FC";
    float:right;
}

.definition:before {
    content: "Definition\2014"  attr(id) ". ";
    font-weight: bold;
    font-style: normal;
}
