---
layout: compress
---

<!DOCTYPE html>
<html>

  <head>
  {% include head.html %}
  </head>
  

  <body>

    <div class="head">
      <div class="head-content">
      {% unless page.no-title %}
      <h1>
	{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
      </h1>
      {% endunless %}

    {% unless page.no-navigation %}
    {% include navigation.html %}
      {% endunless %}
      </div>
    </div>

    <main class="main">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
