---
layout: compress
---

<!DOCTYPE html>
<html>

  <head>
  {% include head.html %}
  </head>
  

  <body>

    {% unless page.no-title %}
    <h1>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </h1>
    {% endunless %}

    <aside>
      <nav class="sidenav">
	<ul>
	{% for post in site.posts %}
	<li> <a href="{{ post.url }}">{{ post.title}}</a>
	  {% endfor %}
	<li> hi
	<li> bye
	</ul>
      </nav>
    </aside>

    <main>
      {{ content }}
    </main>

    
    {% include footer.html %}

  </body>

</html>
